In [1]:
import numpy as Pawan_Numpy_Module
import pandas as Pawan_Pandas_Module
import time as Samay_in_Seconds
import plotly as Pawan_Geo_Plot
#import geopandas as Pawan_GPD
from bs4 import BeautifulSoup as Khoobsoorat_Shorba
import urllib.request as Pawan_Requests
import matplotlib.pyplot as Pawan_Plot
from lxml import html as Pawan_HTML
import folium as Pawan_Folium
print('All modules have been loaded properly')

All modules have been loaded properly

In [2]:
London_Ka_Latitude = 51.5074
London_Ka_Longitude = -0.1278
Maro_Number = 0
Rustam = ''
Web_Page_URL ='https://en.wikipedia.org/wiki/List_of_London_boroughs'
Geo_Data_CSV = 'E:\\DROPBOX\\Dropbox\\Python\\Assignment\\Assignment\\london-borough-profiles.csv'
Int_Ctr = 0
Pawan_Parsed_Table = []
Ludo=[]

In [4]:
path = "C:\\Users\\brpaw\\Desktop\\Ho\\Wealth_Data_London.csv"
File_Data = Pawan_Pandas_Module.read_csv(path)
Maro_Number = len(File_Data)
File_Data.columns =['Borough','Income']
while Maro_Number > 0:
	Maro_Number = Maro_Number - 1
	Rustam = File_Data['Income'][Maro_Number]
	Rustam = Rustam[1:]
	File_Data.sort_values(['Borough'], ascending=True,inplace=True)
	File_Data['Income'][Maro_Number] = int(Rustam)
print(File_Data)

                   Borough Income
0     Barking and Dagenham    528
1                   Barnet    686
2                   Bexley    647
3                    Brent    590
4                  Bromley    718
5                   Camden    641
6                  Croydon    643
7                   Ealing    642
8                  Enfield    615
9                Greenwich    589
10                 Hackney    561
11  Hammersmith and Fulham    670
12                Haringey    596
13                  Harrow    680
14                Havering    642
15              Hillingdon    645
16                Hounslow    638
17               Islington    615
18  Kensington and Chelsea    755
19    Kingston upon Thames    727
20                 Lambeth    622
21                Lewisham    599
22                  Merton    682
23                  Newham    525
24               Redbridge    660
25    Richmond upon Thames    808
26               Southwark    589
27                  Sutton    680
28           Tower Hamlets    592
29          Waltham Forest    601
30              Wandsworth    737
31             Westminster    719

In [5]:
Pawan_Web_Page_Data = Pawan_Requests.urlopen(Web_Page_URL).read()
Pawan_Parsed_Data = Khoobsoorat_Shorba(Pawan_Web_Page_Data, "html.parser")
Pawan_Parsed_Data = Pawan_Parsed_Data.find_all("span", attrs = {"class": "geo"})

In [6]:
Maro_Number = len(Pawan_Parsed_Data)
Pawan_Parsed_Table =[]
while Maro_Number > 0:
    Maro_Number = Maro_Number - 1
    Rustam = str(Pawan_Parsed_Data[Maro_Number])
    Rustam = Rustam[18:]
    Rustam = Rustam[:-7]
    Pawan_Parsed_Data[Maro_Number] = Rustam
    Pawan_Parsed_Table.append(Rustam.split(';'))
Pawan_Parsed_Table = Pawan_Parsed_Table[::-1]
Pawan_Parsed_Table.pop()
print(Pawan_Parsed_Table)

[['51.5607', ' 0.1557'], ['51.6252', ' -0.1517'], ['51.4549', ' 0.1505'], ['51.5588', ' -0.2817'], ['51.4039', ' 0.0198'], ['51.5290', ' -0.1255'], ['51.3714', ' -0.0977'], ['51.5130', ' -0.3089'], ['51.6538', ' -0.0799'], ['51.4892', ' 0.0648'], ['51.5450', ' -0.0553'], ['51.4927', ' -0.2339'], ['51.6000', ' -0.1119'], ['51.5898', ' -0.3346'], ['51.5812', ' 0.1837'], ['51.5441', ' -0.4760'], ['51.4746', ' -0.3680'], ['51.5416', ' -0.1022'], ['51.5020', ' -0.1947'], ['51.4085', ' -0.3064'], ['51.4607', ' -0.1163'], ['51.4452', ' -0.0209'], ['51.4014', ' -0.1958'], ['51.5077', ' 0.0469'], ['51.5590', ' 0.0741'], ['51.4479', ' -0.3260'], ['51.5035', ' -0.0804'], ['51.3618', ' -0.1945'], ['51.5099', ' -0.0059'], ['51.5908', ' -0.0134'], ['51.4567', ' -0.1910'], ['51.4973', ' -0.1372']]

In [9]:
Pawan_Geo_Data = Pawan_Pandas_Module.read_csv(Geo_Data_CSV)
Pawan_Geo_Data['Longitudes'] = Pawan_Pandas_Module.Series(index=Pawan_Geo_Data.index)
Pawan_Geo_Data['Latitudes'] = Pawan_Pandas_Module.Series(index=Pawan_Geo_Data.index)
Pawan_Geo_Data.columns = ['Code', 'Borough','Income','Longitudes','Latitudes']
Maro_Number = len(Pawan_Parsed_Table)
Int_Ctr = 0
while Int_Ctr < Maro_Number:
    Pawan_Geo_Data['Longitudes'][Int_Ctr]= Pawan_Parsed_Table[Int_Ctr][0]
    Pawan_Geo_Data['Latitudes'][Int_Ctr]= Pawan_Parsed_Table[Int_Ctr][1]
    Pawan_Geo_Data['Income'][Int_Ctr]= File_Data['Income'][Int_Ctr]
    Int_Ctr = Int_Ctr + 1
Pawan_Geo_Data.merge(File_Data, left_on='Borough', right_on='Borough', how='outer')
Pawan_Geo_Data

E:\conda\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

E:\conda\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

E:\conda\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

         Code                 Borough  Income  Longitudes  Latitudes
0   E09000002    Barking and Dagenham     528     51.5607     0.1557
1   E09000003                  Barnet     686     51.6252    -0.1517
2   E09000004                  Bexley     647     51.4549     0.1505
3   E09000005                   Brent     590     51.5588    -0.2817
4   E09000006                 Bromley     718     51.4039     0.0198
5   E09000007                  Camden     641     51.5290    -0.1255
6   E09000008                 Croydon     643     51.3714    -0.0977
7   E09000009                  Ealing     642     51.5130    -0.3089
8   E09000010                 Enfield     615     51.6538    -0.0799
9   E09000011               Greenwich     589     51.4892     0.0648
10  E09000012                 Hackney     561     51.5450    -0.0553
11  E09000013  Hammersmith and Fulham     670     51.4927    -0.2339
12  E09000014                Haringey     596     51.6000    -0.1119
13  E09000015                  Harrow     680     51.5898    -0.3346
14  E09000016                Havering     642     51.5812     0.1837
15  E09000017              Hillingdon     645     51.5441    -0.4760
16  E09000018                Hounslow     638     51.4746    -0.3680
17  E09000019               Islington     615     51.5416    -0.1022
18  E09000020  Kensington and Chelsea     755     51.5020    -0.1947
19  E09000021    Kingston upon Thames     727     51.4085    -0.3064
20  E09000022                 Lambeth     622     51.4607    -0.1163
21  E09000023                Lewisham     599     51.4452    -0.0209
22  E09000024                  Merton     682     51.4014    -0.1958
23  E09000025                  Newham     525     51.5077     0.0469
24  E09000026               Redbridge     660     51.5590     0.0741
25  E09000027    Richmond upon Thames     808     51.4479    -0.3260
26  E09000028               Southwark     589     51.5035    -0.0804
27  E09000029                  Sutton     680     51.3618    -0.1945
28  E09000030           Tower Hamlets     592     51.5099    -0.0059
29  E09000031          Waltham Forest     601     51.5908    -0.0134
30  E09000032              Wandsworth     737     51.4567    -0.1910
31  E09000033             Westminster     719     51.4973    -0.1372

In [8]:
Pawan_Map_London = Pawan_Folium.Map(location = [London_Ka_Latitude, London_Ka_Longitude], zoom_start=10,tiles ='Mapbox Bright',no_wrap=True)

In [9]:
Pawan_Map_London

In [10]:
poora_path = 'C:\\Users\\brpaw\\Desktop\\Cholorpleth_Map\\London_Ward_CityMerged.shp'
import geopandas as gpd
map_df = gpd.read_file(poora_path)
map_df.head()
map_df.plot()

ModuleNotFoundError: No module named 'fiona'

In [13]:
Pawan_Map_London.choropleth(
 geo_data=state_geo,
 name='choropleth',
 data=state_data,
 columns=['State', 'Unemployment'],
 key_on='feature.id',
 fill_color='YlGn',
 fill_opacity=0.7,
 line_opacity=0.2,
 legend_name='Weekly Household Income'
)
folium.LayerControl().add_to(Pawan_Map_London)

NameError: name 'state_geo' is not defined

In [15]:
# Save to html
Pawan_Map_London.save('Pawan_London_Total_Map.html')